.point_font {
    font-family: "Oswald", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    padding: 30px;
}

header .left {
    display: flex;
    align-items: center;
}

.main_logo {
    margin-right: 55px;
    cursor: pointer;
}

.gnb_menu_area {
    display: flex;
}

.gnb_menu_area .gnb_1dep {
    color: #d2d2d3;
    text-decoration: none;
    margin-right: 60px;
    transition: color 0.4s;
}

.gnb_menu_area .gnb_1dep:hover {
    color: #222;
}

.gnb_menu_area .gnb_1dep:last-child {
    margin-right: none;
}

.menu__button {
    cursor: pointer;
}

.content_container {
    display: flex;
    justify-content: center;
    background: #f9fafc;
    padding-bottom: 120px;
}

.content_container .inner {
    max-width: 1440px;
    height: auto;
    padding: 30px;
    display: grid;
    grid-template-areas:
        "a a a b"
        "a a a c"
        "d e e c"
        "d f g h";
    grid-gap: 30px;
    grid-auto-rows: 275px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contents {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    color: #fff;
}

.contents .text_area {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.contents.slide .text_area {
    justify-content: center;
    align-items: center;
}

.text_area .title_label {
    background: #ff565c;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0px 25px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    margin-top: 30px;
}

.title_text {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 25px;
    line-height: 1.2;
}

.contents.slide .title_text {
    font-size: 32px;
    text-align: center;
    line-height: 1.6;
}

.sub_text {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    opacity: 0.7;
    font-family: "Lato", sans-serif;
}

.contents.slide .text_area .state_area {
    position: absolute;
    bottom: 10px;
}

.text_area .state_area {
    padding-left: 25px;
    margin-bottom: 25px;
}

.state_area .state {
    padding-left: 35px;
    position: relative;
    font-size: 13px;
}

.state_area .state:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 12px;
    width: 18px;
    height: 16px;
}

.state_area .share:before {
    background: url("./images/share.png") no-repeat;
    background-size: contain;
}

.state_area .view:before {
    background: url("./images/view.png") no-repeat;
    background-size: contain;
}

.state_area .comments:before {
    background: url("./images/comment.png") no-repeat;
    background-size: contain;
}

.contents .slide_btn_area {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translate(-50% 0);
}

.contents .slide_btn_area .arrow {
    width: 50px;
    height: 50px;
    background: url("./images/arrowLeft.png") #1d1f24 no-repeat;
    background-position: center;
    border: none;
}

.arrow.right_arrow {
    transform: rotate(180deg);
    position: absolute;
    right: 0;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: a;
    background: url("./images/financeMain.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.content2 {
    grid-area: b;
    background: url("./images/financeSub.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.content3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: c;
    background: #ff565c;
    padding: 40px 25px;
}

.content3 .title_text {
    font-size: 32px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.content3 .sub_text {
    margin-right: 20px;
    text-align: left;
    opacity: 1;
    font-weight: 300;
}

.content3 .more_btn {
    width: 210px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 16px;
}

.content4 {
    grid-area: d;
    background: #fff;
    border: 1px solid #f2f3f6;
    font-size: 18px;
}

.content4 .stories_title {
    padding: 40px 30px;
    color: #1d1f24;
    font-size: 14px;
}

.content4 .story:first-child {
    border-top: 1px solid #f2f3f6;
}

.content4 .story {
    display: flex;
    align-items: start;
    padding: 25px;
    border-bottom: 1px solid #f2f3f6;
}

.content4 .story_bullet {
    color: #ececec;
    margin-right: 25px;
}

.content4 .story_title {
    padding-right: 10px;
    color: #1d1f24;
    text-decoration: none;
    letter-spacing: -0.2px;
    line-height: 1.2;
    font-size: 18px;
}

.content5 {
    grid-area: e;
    background: url("./images/entertainment.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.content6 {
    grid-area: f;
    background: url("./images/financePg.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.content7 {
    grid-area: g;
    background: url("./images/gaming.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.content8 {
    grid-area: h;
    background: url("./images/technology.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .content_container .inner {
        grid-template-areas:
            "a a"
            "a a"
            "d f "
            "d g"
            "c c"
            "h b"
            "e e";
        grid-gap: 15px;
        grid-auto-rows: 335px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 375px) {
    .content_container .inner {
        grid-template-areas:
            "a"
            "a"
            "d"
            "d"
            "b"
            "c"
            "c"
            "f"
            "f"
            "f";
        grid-gap: 20px;
        grid-auto-rows: 275px;
        grid-template-columns: 1fr;
    }

    .content5,
    .content7,
    .content8 {
        display: none;
    }
}