:root {
    /* COLOR */
    --main-background: #ff565c;
    --bg-color: #1d1f24;
    /* FONT */
    --main-font: "Oswald", sans-serif;
    --sub-font: "Lato", sans-serif;
}

body,
button,
input,
textarea {
    font-family: var(--main-font);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    padding: 30px;
}

.main__left {
    display: flex;
    align-items: center;
}

.main__logo {
    margin-right: 55px;
    cursor: pointer;
}

.header__menu__list {
    display: flex;
}

.header__menu {
    color: rgb(29 31 36 / 20%);
    margin-right: 60px;
    font-weight: 500;
    text-decoration: none;
}

.menu__button {
    cursor: pointer;
}

.body__container {
    display: flex;
    justify-content: center;
    background: #f9fafc;
    padding-bottom: 120px;
}

.body__container .body__inner {
    max-width: 1440px;
    height: auto;
    padding: 30px;
    display: grid;
    grid-template-areas:
        "main main main sub"
        "main main main readmore"
        "stories entertainment entertainment readmore"
        "stories pg game tech";
    grid-gap: 30px;
    grid-auto-rows: 275px;
    grid-template-columns: repeat(4, 1fr);
}

.section {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    color: #fff;
}

.section .content__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.section.slide .content__container {
    justify-content: center;
    align-items: center;
}

.content__container .label {
    background: var(--main-background);
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0px 25px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    margin-top: 30px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 25px;
    line-height: 1.2;
    font-family: var(--sub-font);
}

.section.slide .title {
    font-size: 32px;
    text-align: center;
    line-height: 1.6;
}

.content {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    opacity: 0.7;
    font-family: var(--sub-font);
}

.section.slide .content__container .footer__state {
    position: absolute;
    bottom: 10px;
}

.content__container .footer__state {
    padding-left: 25px;
    margin-bottom: 25px;
    font-family: var(--sub-font);
}

.footer__state .state {
    padding-left: 35px;
    position: relative;
    font-size: 13px;
}

.footer__state .state:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 12px;
    width: 18px;
    height: 16px;
}

.footer__state .share:before {
    background: url("./assets/images/share.png") no-repeat;
    background-size: contain;
}

.footer__state .view:before {
    background: url("./assets/images/view.png") no-repeat;
    background-size: contain;
}

.footer__state .comments:before {
    background: url("./assets/images/comment.png") no-repeat;
    background-size: contain;
}

.section .slide__section {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translate(-50% 0);
}

.section .slide__section .arrow {
    background: url("./assets/images/arrowLeft.png") #1d1f24 no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
}

.arrow.right_arrow {
    transform: rotate(180deg);
    position: absolute;
    right: 0;
}

.main__story {
    grid-area: main;
    background: url("./assets/images/financeMain.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__story .title {
    font-family: var(--main-font);
    text-transform: uppercase;
}

.sub {
    grid-area: sub;
    background: url("./assets/images/financeSub.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.readmore {
    grid-area: readmore;
    background: var(--main-background);
    position: relative;
}

.readmore .title {
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.7;
    text-transform: uppercase;
    position: absolute;
    font-size: 2rem;
    width: 92%;
    top: 6%;
    left: 52%;
    transform: translate(-52%, -6%);
}

.readmore .content {
    text-align: left;
    opacity: 1;
    font-weight: 300;
    font-family: var(--sub-font);
    position: absolute;
    font-size: 1.1rem;
    line-height: 2rem;
    width: 80%;
    top: 70%;
    left: 42%;
    transform: translate(-42%, -70%);
}

.readmore .more_btn {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    border: 1px solid #fff;
    font-size: 1rem;
    letter-spacing: 0.047rem;
    line-height: 4.5rem;
    width: 198px;
    top: 93%;
    left: 25%;
    transform: translate(-25%, -93%);
    text-align: center;
    font-weight: 500;
    border-bottom: 0.2rem solid;
}

.stories {
    grid-area: stories;
    width: 316px;
    height: 580px;
    flex-shrink: 0;
    border: 1px solid #f2f3f6;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.stories .stories__title {
    padding: 47px 30px;
    font-weight: 500;
    color: #1d1f24;
    font-size: 14px;
}

.stories .story__list:first-child {
    border-top: 1px solid #f2f3f6;
}

.stories .story__list {
    display: flex;
    align-items: start;
    padding: 25px;
    border-bottom: 1px solid #f2f3f6;
}

.stories .stories__order {
    color: rgb(29 31 36 / 16%);
    margin-right: 25px;
    font-weight: 500;
    margin-top: 7px;
}

.stories .stories__content {
    padding-right: 10px;
    color: #1d1f24;
    text-decoration: none;
    letter-spacing: -0.2px;
    line-height: 1.2;
    font-size: 18px;
    font-family: var(--sub-font);
}

.entertainment {
    grid-area: entertainment;
    background: url("./assets/images/entertainment.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.pg {
    grid-area: pg;
    background: url("./assets/images/financePg.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.game {
    grid-area: game;
    background: url("./assets/images/gaming.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.tech {
    grid-area: tech;
    background: url("./assets/images/technology.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

/* FOOTER */
footer {
    width: 100%;
    height: 160px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--bg-color);
}

.footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    display: block;
    width: 155px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.7;
    margin-top: 10px;
    font-family: var(--sub-font);
}

.footer__nav {
    width: 657px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.footer__nav__item {
    width: 164px;
    height: 27px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.footer__nav__item>span {
    cursor: pointer;
}

.footer__nav__item>span:hover {
    color: var(--primary-color);
}

.footer__social {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__social span {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.7;
}

.footer__social img {
    width: 16px;
    height: 16px;
    margin-left: 15px;
}

.footer__subscribe {
    position: relative;
    width: 300px;
    background-color: var(--main-background);
}

.footer__subscribe input[type="text"] {
    width: 180px;
    height: 35px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: none;
    background-color: white;
    font-family: "lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.footer__subscribe input[type="text"]::placeholder {
    color: var(--bg-color);
    font-family: "lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.4;
}

.footer__subscribe input[type="submit"] {
    width: 120px;
    height: 36px;
    flex-shrink: 0;
    border: none;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 180px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .body__container .body__inner {
        grid-template-areas:
            "main main"
            "main main"
            "stories pg "
            "stories game"
            "readmore readmore"
            "tech sub"
            "entertainment entertainment";
        grid-gap: 15px;
        grid-auto-rows: 335px;
        grid-template-columns: repeat(2, 1fr);
    }

    .header__menu__list {
        display: none;
    }

    .stories {
        width: 335px;
        height: 602px;
    }

    /* Footer */
    footer {
        width: 100%;
        height: 267px;
        padding: 40px 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: var(--bg-color);
    }

    .footer__container {
        width: 768px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer__copy {
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        opacity: 0.7;
    }

    .footer__nav {
        width: 430px;
        height: 93px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    .footer__nav__item {
        width: 140px;
        height: 27px;
        color: white;
        font-family: "Oswald", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.75px;
        text-transform: uppercase;
    }

    .footer__social {
        height: 93px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .footer__subscribe {
        position: relative;
        width: 300px;
        order: -1;
    }
}

@media (max-width: 375px) {
    .body__container .body__inner {
        grid-template-areas:
            "main"
            "main"
            "stories"
            "stories"
            "sub"
            "readmore"
            "readmore"
            "pg"
            "pg"
            "pg";
        grid-gap: 20px;
        grid-auto-rows: 275px;
        grid-template-columns: 1fr;
    }

    .content5,
    .content7,
    .content8 {
        display: none;
    }

    .header__menu__list {
        display: none;
    }

    .stories {
        width: 316px;
        height: 580px;
        flex-shrink: 0;
        border: 1px solid #f2f3f6;
        background: #fff;
        display: flex;
        flex-direction: column;
    }

    /* Footer */
    footer {
        width: 100%;
        height: 441px;
        padding: 40px 20px;
        align-items: flex-start;
    }

    .footer__container {
        width: 375px;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer__nav {
        width: 100%;
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-shrink: 0;
        order: 3;
    }

    .footer__nav-item {
        width: 150px;
        height: 33px;
        color: white;
        font-family: "Oswald", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.75px;
        text-transform: uppercase;
    }

    .footer__social {
        height: 100px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        order: 2;
    }

    .footer__subscribe {
        order: -1;

    }

}