:root {
    /* COLOR */
    --main-background: #ff565c;
    /* FONT */
    --main-font: "Oswald", sans-serif;
    --sub-font: "Lato", sans-serif;
}

body,
button,
input,
textarea {
    font-family: var(--main-font);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    padding: 30px;
}

.main__left {
    display: flex;
    align-items: center;
}

.main__logo {
    margin-right: 55px;
    cursor: pointer;
}

.header__menu__list {
    display: flex;
}

.header__menu {
    color: rgb(29 31 36 / 20%);
    margin-right: 60px;
    font-weight: 500;
    text-decoration: none;
}

.menu__button {
    cursor: pointer;
}

.body__container {
    display: flex;
    justify-content: center;
    background: #f9fafc;
    padding-bottom: 120px;
}

.body__container .body__inner {
    max-width: 1440px;
    height: auto;
    padding: 30px;
    display: grid;
    grid-template-areas:
        "main main main sub"
        "main main main readmore"
        "stories entertainment entertainment readmore"
        "stories pg game tech";
    grid-gap: 30px;
    grid-auto-rows: 275px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    color: #fff;
}

.section .content__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.section.slide .content__container {
    justify-content: center;
    align-items: center;
}

.content__container .label {
    background: var(--main-background);
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0px 25px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    margin-top: 30px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 25px;
    line-height: 1.2;
    font-family: var(--sub-font);
}

.section.slide .title {
    font-size: 32px;
    text-align: center;
    line-height: 1.6;
}

.content {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    opacity: 0.7;
    font-family: var(--sub-font);
}

.section.slide .content__container .footer__state {
    position: absolute;
    bottom: 10px;
}

.content__container .footer__state {
    padding-left: 25px;
    margin-bottom: 25px;
    font-family: var(--sub-font);
}

.footer__state .state {
    padding-left: 35px;
    position: relative;
    font-size: 13px;
}

.footer__state .state:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 12px;
    width: 18px;
    height: 16px;
}

.footer__state .share:before {
    background: url("./images/share.png") no-repeat;
    background-size: contain;
}

.footer__state .view:before {
    background: url("./images/view.png") no-repeat;
    background-size: contain;
}

.footer__state .comments:before {
    background: url("./images/comment.png") no-repeat;
    background-size: contain;
}

.section .slide__section {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translate(-50% 0);
}

.section .slide__section .arrow {
    background: url("./images/arrowLeft.png") #1d1f24 no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
}

.arrow.right_arrow {
    transform: rotate(180deg);
    position: absolute;
    right: 0;
}

.main__story {
    grid-area: main;
    background: url("./images/financeMain.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__story .title {
    font-family: var(--main-font);
    text-transform: uppercase;
}

.sub {
    grid-area: sub;
    background: url("./images/financeSub.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.readmore {
    grid-area: readmore;
    background: var(--main-background);
}

/*.readmore__container {
    background: var(--main-background);
    height: 100%;
    position: relative;
}

.readmore__title {
    text-transform: uppercase;
    position: absolute;
    font-size: 3rem;
    line-height: 5rem;
    width: 88%;
    top: 5%;
    left: 52%;
    transform: translate(-52%, -5%);
    letter-spacing: 0.049rem;
}

.readmore__content {
    font-family: var(--sub-font);
    position: absolute;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 75%;
    top: 66%;
    left: 28%;
    transform: translate(-28%, -66%);
}

.readmore__button {
    text-transform: uppercase;
    position: absolute;
    border: 1px solid #fff;
    font-size: 1.5rem;
    letter-spacing: 0.047rem;
    line-height: 4.5rem;
    width: 58%;
    top: 90%;
    left: 18%;
    transform: translate(-18%, -90%);
    text-align: center;
    font-weight: 500;
    border-bottom: 0.2rem solid;
}*/

.readmore .title {
    font-family: var(--main-font);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.readmore .content {
    margin-right: 20px;
    text-align: left;
    opacity: 1;
    font-weight: 300;
}

.readmore .more_btn {
    width: 210px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 16px;
}

.stories {
    grid-area: stories;
    background: #fff;
    border: 1px solid #f2f3f6;
    font-size: 18px;
}

.stories .stories__title {
    padding: 47px 30px;
    font-weight: 500;
    color: #1d1f24;
    font-size: 14px;
}

.stories .story__list:first-child {
    border-top: 1px solid #f2f3f6;
}

.stories .story__list {
    display: flex;
    align-items: start;
    padding: 25px;
    border-bottom: 1px solid #f2f3f6;
}

.stories .stories__order {
    color: rgb(29 31 36 / 16%);
    margin-right: 25px;
    font-weight: 500;
    margin-top: 7px;
}

.stories .stories__content {
    padding-right: 10px;
    color: #1d1f24;
    text-decoration: none;
    letter-spacing: -0.2px;
    line-height: 1.2;
    font-size: 18px;
    font-family: var(--sub-font);
}

.entertainment {
    grid-area: entertainment;
    background: url("./images/entertainment.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.pg {
    grid-area: pg;
    background: url("./images/financePg.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.game {
    grid-area: game;
    background: url("./images/gaming.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

.tech {
    grid-area: tech;
    background: url("./images/technology.png") #000 no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .body__container .body__inner {
        grid-template-areas:
            "main main"
            "main main"
            "stories pg "
            "stories game"
            "readmore readmore"
            "tech sub"
            "entertainment entertainment";
        grid-gap: 15px;
        grid-auto-rows: 335px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 375px) {
    .body__container .body__inner {
        grid-template-areas:
            "main"
            "main"
            "stories"
            "stories"
            "sub"
            "readmore"
            "readmore"
            "pg"
            "pg"
            "pg";
        grid-gap: 20px;
        grid-auto-rows: 275px;
        grid-template-columns: 1fr;
    }

    .content5,
    .content7,
    .content8 {
        display: none;
    }
}